<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>app</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css">
</head>
<body class="container">
<h3>hi.</h3>
</body>
</html>
